<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>I'm M.Sc. in Computer Science on automated fuzzy systems based on feature extraction and selection for opinion classification across different domains.</p>

    <p>As a full stack engineer, I enjoy equally both sides of the job both building a consistent and predictable backend as well as challenging myself to create a lightweight, beautiful and UX centered web or mobile application.</p>

    <p>But my <strong>main and most important job</strong> is to take care of my little Benjamin.</p> 

    {% include employment-status.html %}
  </div>
</section>
