<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://gebeco.de/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/gebeco_logo.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://gebeco.de/" target="_blank">© Gebeco GmbH & Co. KG</a>
        </div>
        <p>A booking site service from Gebeco GmbH & Co. KG</p>
        <p>Techs: Angular, HTML5/CSS, SASS, Nodejs/Expressjs, Mongodb</p>
      </figcaption>
    </div>
    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://play.google.com/store/apps/details?id=com.maqhin.euamoanimais_vdois" target="_blank">
          <img src="{{site.baseurl}}/img/featured/eaa_logo.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.maqhin.euamoanimais_vdois" target="_blank">Eu Amo Animais</a>
        </div>
        <p>An app the helps "Eu Amo Animais" customers take care of their beloved pets.</p>
        <p>Publication: Play Store.</p>
        <p>Techs: C#; Javascript</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://play.google.com/store/apps/details?id=com.maqhin.today_" target="_blank">
          <img src="{{site.baseurl}}/img/featured/today_logo.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.maqhin.today_" target="_blank">Today - Live Moments</a>
        </div>
        <p>An app the helps users to know how many crowded places are, such as restaurants, post photos, get discounts, flert
          in a priva chat, among others</p>
        <p>Publication: Play Store and
          <a href="https://itunes.apple.com/br/app/today-live-moments/id1074006767?mt=8">App Store</a>
        </p>
        <p>Techs: Angular; Ionic SDK; Python 2 (Django in the backend)</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://itunes.apple.com/us/app/lave-app/id1326272124?mt=8" target="_blank">
          <img src="{{site.baseurl}}/img/featured/lave_icon.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://itunes.apple.com/us/app/lave-app/id1326272124?mt=8" target="_blank">Lave App</a>
        </div>
        <p>An app that connects people interested in get their cars cleaned and professionals that wash cars. The service can be executed in customer's place choice and even without his presence.</p>
        <p>Publication: <a href="https://itunes.apple.com/br/app/today-live-moments/id1074006767?mt=8">App Store</a>
        </p>
        <p>Techs: Angular; Ionic SDK</p>
      </figcaption>
    </div>

    <!-- <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone"><img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt=""></div>
          <div class="phone"><img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt=""></div>
          <div class="phone"><img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt=""></div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"><a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">ScreenTime 2.0</a></div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
      </figcaption>
    </div>

    <div class="project v2">
      <figure class="project__pic">
        <a href="http://brittanychiang.com/v2" target="_blank"><img src="{{site.baseurl}}/img/featured/v2/v2.png" alt=""></a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"><a href="http://brittanychiang.com/v2" target="_blank">Personal Website V2</a></div>
        <p>Second iteration of my personal website. Designed and developed with a conscious effort to avoid using any superfluous frameworks like Bootstrap.</p>
      </figcaption>
    </div> -->
  </div>
</section>
